<h1><%= @event.title%></h1>
<p class="m5 p3 xshadow border border-light"><%= @event.description %></p>
<p><em class='text-grey'> l'organisateur est <%= @event.administrator %> </em></p>
<%# <p><em class='text-grey'> le nombre de participant est <%= @event.attendances.participants.count %> </em></p> %>


<%# <button class="btn btn-secondary"><%= link_to "Cliquez ici pour voir les autres évènements de l'organisateur",  %></button> %> %>


<%# if admin
( <em><%= link_to "Modifier", edit_event_path %> )</em></p>

<%# ( <em><%= link_to "destroy", @gossip.destroy %> )</em></p> %>