<h1><%= @event.title%></h1>
<p class="m5 p3 xshadow border border-light"><%= @event.description %></p>
<p class="m5 p3 xshadow border border-light"> la localisation est à <%= @event.location %></p>
<p class="m5 p3 xshadow border border-light"> le prix est <%= @event.price %></p>
<p><em class='text-grey'> le mail de l'organisateur est <%= @event.administrator.email %> </em></p>
<%# <p><em class='text-grey'> le nombre de participant est <%= @event.attendances.participants.count %> </em></p> %>


<%# <button class="btn btn-secondary"><%= link_to "Cliquez ici pour voir les autres évènements de l'organisateur",  %></button> %> %>


    <% if @event.administrator == current_user %>
( <em><%= link_to "Modifier", edit_event_path %> )</em></p>

( <em><%= link_to "destroy", @event.destroy %> )</em></p>
    
    <%end %>